html{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color:rgba(233, 255, 255, 0.829);
}


h1{
    font-weight: bold;
    font-size:medium
}

.iframe {
	display: block;
	margin: 0 auto;
	justify-content: center;
}

.login{
  background-color: rgba(233, 255, 255, 0.829)
}
.login {
    margin-top: 20px;
    max-height: 600px;
    margin-top: -10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.logoLogin img {
    display: block;
    margin: 0 auto;
    max-width: 35%;
    margin-bottom: 30px;
}

.login-box {
    padding: 35px;
    width: 100%;
}

.formLogin .form-group label {
    font-weight: 200;
    color: #888;
}

.formLogin input {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.formLogin button {
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    width: 100%;
    background-color: #000;
    color: #fff;
}

.formLogin button:hover {
    background-color: #333;
}

.texto-login{
  padding: 15rem;
}

.cadastro{
    background-color: rgba(233, 255, 255, 0.829)
  }
  .cadastro {
      margin-top: 20px;
      max-height: 600px;
      margin-top: -20px;
      padding-left: 15px;
      padding-right: 15px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }
  
  .logocadastro img {
      display: block;
      margin: 0 auto;
      max-width: 30%;
      margin-bottom: 30px;
  }
  
  .cadastro-box {
      padding: 35px;
      width: 100%;
  }
  
  .formcadastro .form-group label {
      font-weight: 200;
      color: #888;
  }
  
  .formcadastro input {
      border-radius: 5px;
      border: 1px solid #ccc;
      padding: 10px;
      margin-bottom: 20px;
      width: 100%;
  }
  
  .formcadastro button {
      border-radius: 5px;
      border: none;
      margin-bottom: 10px;
      width: 100%;
      background-color: #000;
      color: #fff;
  }
  
  .formcadastro button:hover {
      background-color: #333;
  }
  
  .texto-cadastro{
    padding: 15rem;
  }
  

p{
    font-size:medium;
}

.menu-lateral {
  position: fixed;
  top: 0;
  left: -250px; /* posição inicial do menu lateral */
  width: 250px;
  height: 100vh;
  background-color: #1b1b1b;
  z-index: 999;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}
.menu-lateral--visivel {
left: 0;
}