html{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}


h1{
    font-weight: bold;
    font-size:medium
}

.iframe {
	display: block;
	margin: 0 auto;
	justify-content: center;
}

.login{
  background-color: rgba(233, 255, 255, 0.829)
}
.login {
    margin-top: 20px;
    max-height: 600px;
    margin-top: -10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.logoLogin img {
    display: block;
    margin: 0 auto;
    max-width: 35%;
    margin-bottom: 30px;
}

.login-box {
    padding: 35px;
    width: 100%;
}

.formLogin .form-group label {
    font-weight: 200;
    color: #888;
}

.formLogin input {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.formLogin button {
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    width: 100%;
    background-color: #000;
    color: #fff;
}

.formLogin button:hover {
    background-color: #333;
}

.texto-login{
  padding: 15rem;
}

.cadastro{
    background-color: rgba(233, 255, 255, 0.829)
  }
  .cadastro {
      margin-top: 20px;
      max-height: 600px;
      margin-top: -20px;
      padding-left: 15px;
      padding-right: 15px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }
  
  .logocadastro img {
      display: block;
      margin: 0 auto;
      max-width: 30%;
      margin-bottom: 30px;
  }
  
  .cadastro-box {
      padding: 35px;
      width: 100%;
  }
  
  .formcadastro .form-group label {
      font-weight: 200;
      color: #888;
  }
  
  .formcadastro input {
      border-radius: 5px;
      border: 1px solid #ccc;
      padding: 10px;
      margin-bottom: 20px;
      width: 100%;
  }
  
  .formcadastro button {
      border-radius: 5px;
      border: none;
      margin-bottom: 10px;
      width: 100%;
      background-color: #000;
      color: #fff;
  }
  
  .formcadastro button:hover {
      background-color: #333;
  }
  
  .texto-cadastro{
    padding: 15rem;
  }
  

p{
    font-size:medium;
}

.menu-lateral {
  position: fixed;
  top: 0;
  left: -250px; /* posição inicial do menu lateral */
  width: 250px;
  height: 100vh;
  background-color: #1b1b1b;
  z-index: 999;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}
.menu-lateral--visivel {
left: 0;
}
select option:first-child {
    font-size: 16px;
    color: #aaa;
  }
  
  select {
    appearance: none;
    -webkit-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23777" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg"><path d="M224 384h576a32 32 0 0 0 22.6-9.4l128-128a32 32 0 0 0 0-45.2l-128-128A32 32 0 0 0 800 64H224a32 32 0 0 0-32 32v256a32 32 0 0 0 32 32zm320 448a32 32 0 0 0-32 32v64a32 32 0 0 0 64 0v-64a32 32 0 0 0-32-32zm0-256a32 32 0 0 0-32 32v64a32 32 0 0 0 64 0v-64a32 32 0 0 0-32-32zm-192 128a32 32 0 0 0-32 32v64a32 32 0 0 0 64 0v-64a32 32 0 0 0-32-32zm0-256a32 32 0 0 0-32 32v64a32 32 0 0 0 64 0v-64a32 32 0 0 0-32-32z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 8px center;
    background-size: 18px 18px;
    padding-right: 28px;
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 70px;
    z-index: 999;
    background-color: #f8f9fa;
    padding: 10px;
  }

  .user-profile {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .user-profile img {
    width: 50px;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 10px;
  }

  .fa{
    font-size: 20px;
    color: black;
  }
  a{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: black;
  }
  .user-name{
    font-size: 15px;
  }
  .main-content {
    margin-left: 50px;
    padding: 20px;
  }
  .card {
      margin-bottom: 20px;
  }
  .card-header {
      background-color: #f8f9fa;
      font-weight: bold;
  }
  .table {
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    white-space: nowrap;
  }
  
  .table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .table th {
    background-color: #333;
    color: white;
  }
  
  @media screen and (max-width: 600px) {
    .table {
      overflow-x: auto;
      display: block;
    }
    .table thead {
      display: none;
    }
    .table tr {
      margin-bottom: 10px;
      display: block;
      border-bottom: 1px solid #ddd;
    }
    .table td {
      display: block;
      text-align: right;
      font-size: 13px;
      border-bottom: none;
    }
    .table td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  .empresas-table{
    padding-left: 20px;
  }